<config version="v1">
  <chain template="s3-storage-v3"/>
  <provider id="s3" type="s3">
    <endpoint>https://s3-onprime.company.local</endpoint>
    <bucketName>artifactory-binaries</bucketName>
    <identity>your-aws-access-key</identity>
    <credential>your-aws-secret-key</credential>
  </provider>
</config>
