shared:
  node:
    id: art1
    haEnabled: true
database:
  type: postgresql
  url: jdbc:postgresql://{{ postgres_host }}/artifactory
  username: {{ postgres_user }}
  password: {{ postgres_password }}
